boto3
requests
python-dotenv
neo4j
sentence-transformers
google-generativeai
PyMuPDF
python-docx
beautifulsoup4
fastapi
python-multipart
uvicorn
langchain
langchain-community
langchain_google_genai
sqlalchemy
psycopg2-binary
pytesseract
pdf2image
Pillow